body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    margin: 1;
    text-align: center;
}

span {
    border-bottom: 2px solid black;
    padding: 5px;
}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 8px;
}
