.one{
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    height: 295px;
}

.two{
    background:#1F2937 ;
    height:500px ;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

}

#header2{
    text-align: center;
    position: absolute;
    width: 345px;
    height: 25px;
    left: 102px;
    top: 297px; 
    font-family:sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#meterfeet{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 327px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#heading{
    position: absolute;
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 53px;
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height, or 173% */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #FFFFFF;
    
    }

    #mainH{
    position: absolute;
    width: 211px;
    height: 51.23px;
    left: 169px;
    top: 100px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 24px;
    /* or 25% */

    text-align: center;
    }

#header3{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 379px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #FFFFFF;
}

#litregallons{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 409px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #D2D2D2;
}
